<div class="float-right">
    <small>
        Your cart:
        <span *ngIf="cart.itemCount > 0">
            {{cart.itemCount}} item(s)
            {{cart.cartPrice | currency:"USD":symbol:"2.2-2"}}
        </span>
        <span *ngIf="cart.itemCount==0">
            (empty)
        </span>
    </small>
    <button class="btn btn-sm bg-inverse" [disabled]="cart.itemCount==0">
        <fa-icon [icon]="['fas', 'shopping-cart']" [styles]="{'stroke': 'write', 'color': 'yellow'}"></fa-icon>
    </button>
</div>